.add-user-container {
    width: 100%;
    height: 25vh;

}

.add-user-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.add-user-container input {
    width: 30%;
    height: 10%;
}

.add-user-container input[type="submit"] {
    width: 20%;

}

.add-user-container select {
    width: 30%;
    height: 10%;
}